/* CARROUSEL INDEX */
.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel_index {
    background-color: $color-carousel;
    height: 150px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carousel_index img {
    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

/* CARROUSEL CLIENTES */
.backcarouselextend {
    background-color: $color-back-carousels;
    width: 100%;
}

.backcarcliente {
    @extend .backcarouselextend;
    height: 180px;
    margin-bottom: 50px;
}

.backcarcliente_media {
    @extend .backcarouselextend;
    opacity: 95%;
    height: 155px;
    margin-bottom: 40px;
}

.backcarcliente_media1 {
    @extend .backcarouselextend;
    opacity: 95%;
    height: 155px;
    margin-bottom: 40px;
}

.carousel_index1 img {
    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

.carousel-inner1 {
    width: 100%;
}

.carousel-item1 {
    height: 200px;
    width: 100%;
    text-align: center;
}

.carousel {
    width: max-content;
}

/* .corousel_pag_1 {
    background-color: rgb(246, 244, 255);
} */

.carousel-item {
    height: 200px;
    width: 100%;
    text-align: center;
}

.caousel_imagen {

    align-content: space-between;
}

.carousel-item img {
    object-fit: contain;

}

.container {
    max-width: 100%;
}

.imagen_contacto {
    margin-left: 45px;
}

/* FIN CAROUSELS */