.carousel_index {
    background-color: $color-carousel;
    height: 150px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carousel_index img {
    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

/* CARROUSEL CLIENTES */
.backcarouselextend {
    background-color: $color-back-carousels;
    width: 100%;
}

.backcarcliente {
    @extend .backcarouselextend;
    height: 180px;
    margin-bottom: 50px;
}

.backcarcliente_media {
    @extend .backcarouselextend;
    opacity: 95%;
    height: 155px;
    margin-bottom: 40px;
}

.backcarcliente_media1 {
    @extend .backcarouselextend;
    opacity: 95%;
    height: 155px;
    margin-bottom: 40px;
}

.carousel_index1 img {
    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

.carousel-inner1 {
    width: 100%;
}

.carousel {
    width: max-content;
}

.carousel-item {
    height: 200px;
    width: 100%;
    text-align: center;

    img {
        object-fit: contain;

    }
}