.clientes {
    padding: 1%;

    .confian_en_nosotros {
        margin-top: 25px;
        text-align: center;
        color: rgba(34, 197, 148, 0.801);
        padding: 1%;
    }

    .confian_en_nosotros1 {
        display: flex;
        color: azure;
        justify-content: center;
        margin-bottom: 25px;
    }

    .text_xq_eleg_clientes {
        display: flex;
        margin-top: 105px;
        justify-content: center;
        text-align: center;
        color: rgba(211, 212, 216, 0.801);
        font-size: 25px;
    }

}

.partner{
    font-size: 45px;
    margin-top: 35px;
    color: azure;
}

@mixin separadores ($align, $float) {
    width: 50%;
    height: 5px;
    border-radius: 45px;
    background-color: rgb(103, 226, 144);
    margin-bottom: 35px;
    margin-top: 35px;
    display: flex;
    align-content: $align;
    float: $float;

}

.separador {
    @include separadores(center, none);
}

.separador2 {
    @include separadores(flex-end, right);

}

@media (max-width:768px) {
    .imagen_contacto {
        height: 300px;
    }
}