.contactfont {
    color: $color-contact-font;
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

.imagen_contacto {
    margin-left: 45px;
    display: flex;
    justify-content: center;
    border-radius: 55px;

}

.googlemap {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
}
 .main__contact{
    margin-bottom: 50px;
 }