/* body{
    background-color: $color-principal;
} */
footer{
    display: flex;
    
    ul{
        list-style: none;
        justify-content: space-evenly;
        color:  $colorfuente;
        font-size: 25px;
    }
}



.contactfont {
    padding: 15px;
    color: $color-font-body;
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

