
/* footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: rgba(172, 224, 185, 0.829);
    font-size: 25px
}
.copyright{
    display: flex;
    justify-content: center;
    margin-top: 15px;
} */