* {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

.encabezado {
    background-image: url(../imagenes/fondo_body.jpg);
}

.navbar-brand {
    width: 250px;
    height: fit-content;
}

.navbar-collapse .navbar-nav .nav-link {
    font-family: 'Share Tech', sans-serif;
    color: $color-navbar;
    font-size: 35px;
    gap: 20px;
    background-color: rgba(0, 69, 90, 0.034);
}

.nav-item:hover {
    transform: scale(1.1);
}

body {
    background-size: cover;
    font-family: 'Share Tech', sans-serif;
    color: $color-body;
    background: url(../imagenes/fondo_main_2.jpg) repeat fixed;
}


footer {
    background-image: url(../imagenes/fondo_body.jpg);

    .foot {
        color: $color-navbar;
    }
}


footer ul {
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    color: $color-footer-ul;
    font-size: 30px;
    margin-top: 25px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.solo_mobile_index p {
    font-family: 'Share Tech', sans-serif;
    color: $color-navbar;
    font-weight: lighter;
}