.card-img-top:hover {
    transform: scale(0.8);
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.card-text {
    color: $color-cards-text;
    text-align: center;

}

.form_nos {
    margin-top: 30px;
    color: map-get($colores, colorfuente);
    display: flex;
    text-align: center;
    justify-content: center;
}

.card-group {
    .card {
        .card-img-top {
            width: 100%;
            height: 45%;
        }

        .card-body {
            background-color: map-get($map: $colores, $key: color-principal);
            font-weight: 55px;
            text-align: center;
        }
    }
}