* {
    margin: 0;
    padding: 0;
}

.encabezado {
    background-image: url(./imagenes/fondo-header.png);
    margin-bottom: 25px;


}

footer {
    background-image: url(./imagenes/fondo-header.png);

}

body {
    background: rgb(25, 65, 120);
    background: linear-gradient(0deg, rgba(25, 65, 120, 1) 0%, rgba(0, 0, 0, 1) 78%, rgba(0, 155, 255, 1) 100%);
    font-family: 'Share Tech', sans-serif;
    color: rgba(255, 255, 255, 0.5);

}

.navbar-brand {
    width: 250px;
    height: fit-content;
}

.navbar-collapse .navbar-nav .nav-link {
    font-family: 'Share Tech', sans-serif;
    color: rgb(129, 230, 230);
    font-size: 35px;

    gap: 20px;
    background-color: rgba(0, 69, 90, 0.034);
}

.nav-item:hover {
    transform: scale(1.1);
}

/* .dropdown-menu.show{
    background-color: red;
}
 */
.iconoServiciosindex {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    text-align: center;
}

.iconoServiciosindex img {
    opacity: 55%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.iconoServiciosindex {
    font-family: 'Share Tech', sans-serif;
    color: rgba(255, 255, 255, 0.459);
}

.iconoServiciosindex :hover {
    opacity: 100%;
    color: aliceblue;
    transform: scale(1.1);
}

.tipografia_titulo_logo {
    font-weight: bold;
    font-size: 25px;
}

.tipogria_descrp_logo {
    font-weight: normal;
    font-size: 20px;
}

.navbar-collapse {
    flex-grow: initial;
}

/* CARROUSEL INDEX */

.carousel_index {
    background-color: rgb(246, 244, 255);
    height: 150px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carousel {
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

.carousel_index img {

    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

/* CARROUSEL CLIENTES */
.backcarcliente {
    background-color: white;
    width: 100%;
    height: 180px;
    margin-bottom: 50px;
}

.carousel_index1 img {
    align-content: space-between;
    width: 150px;
    height: 150px;
    align-items: center;
}

.carousel-inner1 {
    width: 100%;
}

.carousel-item1 {
    height: 200px;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: rgba(172, 224, 185, 0.829);
    font-size: 25px
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.consulta1 {
    text-align: center;
    margin-top: 25px;
    color: rgba(172, 224, 185, 0.829);

}

.prueba {
    background-color: white;
    width: 100%;
    height: 180px;
    margin-bottom: 50px;
}

.form_nos {
    color: rgba(172, 224, 185, 0.829);
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url(./imagenes/fondo_main.jpg);
}

.separador {
    width: 70px;
    height: 5px;
    border-radius: 45px;
    background-color: rgb(103, 226, 144);
    margin-bottom: 15px;
    display: flex;
    align-content: center;
}

.separador_con_movimiento {
    width: 70px;
    height: 5px;
    border-radius: 45px;
    background-color: rgb(103, 226, 144);
    margin-bottom: 15px;
    display: flex;
    align-content: center;
}


.imagen_servicios {
    display: flex;
    height: 15px;
    width: 200px;
}

.imagen_clientes {
    height: 300px;
    width: 300px;
}

.carousel {
    width: max-content;

}

.corousel_pag_1 {
    background-color: rgb(246, 244, 255);
}

.carousel-item {
    height: 200px;
    width: 100%;
    text-align: center;
}

.caousel_imagen {

    align-content: space-between;
}

.carousel-item img {
    object-fit: contain;

}

.tit_nosotros1 {
    text-align: center;
}

.iconoServiciosindex1 {
    display: flex;
    text-align: center;
}

.logos_final_index {
    margin-top: 15px;
    margin-bottom: 15px;
}

.efectohov:hover {
    color: rgba(244, 250, 187, 0.863);
}

.geeks {
    width: 400px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.geeks::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    0% {
        left: 0;
    }
}




@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 10;
    }
}

@keyframes animate__lightSpeedInRight {}



/* .icono_servicios {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    color: rgba(192, 194, 199, 0.747);
    font-weight: lighter;
    font-size: small;
    font-family: 'Share Tech', sans-serif, ;
    gap: 55px;
} */

.transi_logos {
    transition: transform 2s, background-color 2s;
    background-color: antiquewhite;
}

.transi_logos:hover {
    transform: scale(3);

}



.text_main {
    margin-top: 120px;
    margin-bottom: 75px;
    color: rgba(211, 212, 216, 0.801);
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

.text_xq_eleg {
    display: flex;
}

.conten_xq_eleg {
    display: flex;
    padding: 15px;
}

.conten_xq_eleg2 {
    display: flex;
    padding: 15px;
    margin-bottom: 25px;
}

.text_xq_eleg3 {
    display: flex;
    padding: 50px;
    margin-bottom: 25px;
}

.img2_main {
    display: flex;
    height: max-content;
    padding: 15px;
}

.xq_eleg {
    display: flex;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
}

.text_xq_eleg {
    display: flex;
}

.img3_main {
    display: flex;
    height: 300px;
    padding: 15px;
}

.contactfont {
    padding: 15px;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}

.forminicial {
    color: rgba(211, 212, 216, 0.801);
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
}

.googlemap {
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.dentro_del_form {
    display: flex;
    justify-content: center;
    width: 50%;
}

.dentro_del_form_1 {
    display: flex;
    flex-direction: column;
    width: 65%;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-size: 20px;
    border-radius: 5px;
}

.button {
    margin: auto;
    margin-bottom: 25px;
    justify-content: center;
}

.tit_nosotros {
    color: rgba(34, 197, 148, 0.801);
}

.confian_en_nosotros {
    text-align: center;
    color: rgba(34, 197, 148, 0.801);
}

.confian_en_nosotros1 {
    display: flex;

}

.servicios_transi {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.iconos {
    height: auto;
    width: auto;
    align-items: baseline;

}

.icon {
    font-size: 75px;
    color: rgb(120, 143, 185);
}

#resaltar :hover {
    transform: scale(1.01);
    color: rgb(103, 226, 144);
}

.separador_iconos {
    width: 1px;
    color: black;
    height: 100px;
}

.descripcion_serv {
    height: auto;
    max-width: 960px;
    margin-left: 50px;
    color: whitesmoke;
    flex-direction: column;
    align-items: baseline;
}


@media screen and (max-width: 425px) {

    .text_main {
        margin-top: 120px;
        margin-bottom: 25px;
        color: rgba(211, 212, 216, 0.801);
        font-weight: bold;
        font-family: 'Share Tech', sans-serif;
        text-align: center;
    }

    .conten_xq_eleg {
        display: flex;
        padding: 15px;
        flex-direction: column-reverse;
        width: 100%;

    }

    .conten_xq_eleg2 {
        display: flex;
        padding: 15px;
        flex-direction: column;
    }

    .googlemap {
        display: none;
    }

    .formulario {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 150px);
        grid-template-rows: repeat(2, 250px);
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;
    }

    .dentro_del_form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .contactfont {
        display: flex;
        color: rgba(211, 212, 216, 0.801);
        font-weight: lighter;
        font-family: 'Share Tech', sans-serif;
        text-align: center;
    }

    .dentro_del_form_1 {
        display: grid;
        justify-content: center;
    }

    .carousel_index {
        display: none;
    }

    .carousel_index1 {
        display: none;
    }



}