*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    margin: 0;
    background-image: url(./imagenes/fondo_main.jpg);
    background-size: cover;
    /* background-position: center; */
    /* width: auto; */
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 150px ;
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
}
ul{
    list-style: none;
    display: flex;
}
ul li a {
    margin: 20px;
    font-size: 1.3rem;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
nav {
    display: flex;
    align-items: flex-start;
    margin-top: auto;

}
.encabezado{
    grid-area: header;
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 250px;
    height: fit-content;
}
.encabezado__lista{
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Share Tech', sans-serif;
    height: 250px;
    flex-wrap: wrap;
}

.encabezado__lista__item{
    display: inline-block;
    margin: 15px;
}

.itemSubmenu{
    position: relative;

}
.encabezado__lista__submenu{
    list-style: none;
    position: absolute;
    display: none;
    /* top: 80%; */
    font-size: 20px;
}
.itemSubmenu:hover .encabezado__lista__submenu{
    display: block;
}

main{
    background-image: url(./imagenes/fondo_main.jpg);
    background-repeat: repeat;
}

.icono_servicios{
    width: 85%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    color: rgba(192, 194, 199, 0.747);
    font-weight: lighter;
    font-size: small;
    font-family: 'Share Tech', sans-serif, ;
}
.transi_logos{
    transition: transform 2s, background-color 2s;
    background-color: antiquewhite;
}
.transi_logos:hover{
    transform: scale(3) ;

}
.Seguridad{
    position: relative;
}
.icono_servicios__Subsecurity{
    position: absolute;
    display: none;
    top: 100%;
    font-size: 20px;
}

.Seguridad:hover .icono_servicios__Subsecurity{
    display: block;
}
.Servidor{
    position: relative;
}
.icono_servicios__Subservice{
    position: absolute;
    display: none;
    top: 100%;
    font-size: 20px;
}
.Servidor:hover .icono_servicios__Subservice{
    display: block;

}

.Soporte{
    position: relative;
}

.icono_servicios__Subsupport{
    position: absolute;
    display: none;
    top: 100%;
    font-size: 20px;
}

.Soporte:hover .icono_servicios__Subsupport{
    display: block;
}

.Equipamiento{
    position: relative;
}

.icono_servicios__Subequip{
    position: absolute;
    display: none;
    top: 100%;
    font-size: 20px;
}

.Equipamiento:hover .icono_servicios__Subequip{
    display: block;
}

.Capacitacion{
    position: relative;
}

.icono_servicios__Subcapacitacion{
    position: absolute;
    display: none;
    top: 100%;
    font-size: 20px;
}

.Capacitacion:hover .icono_servicios__Subcapacitacion{
    display: block;
}
.text_main{
    margin-top: 120px;
    margin-bottom: 75px;
    color: rgba(211, 212, 216, 0.801);
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    text-align: center;
}
.text_xq_eleg{
    display: flex;
}
.conten_xq_eleg{
    display: flex;
    padding: 15px;
}
.conten_xq_eleg2{
    display: flex;
    padding: 15px;
}


.img2_main{
    display: flex;
    height:max-content ;
    padding: 15px;
}
.xq_eleg{
    display: flex;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
}
.text_xq_eleg{
    display: flex;
}
.img3_main{
    display: flex;
    height:300px;
    padding: 15px;
}

footer {
    padding: 15px;
    /* background-color: aliceblue; */
    /* background-image: url(./imagenes/fondo_main.jpg); */
    background-repeat: repeat;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */
}
.contactfont{
    padding: 15px;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-family: 'Share Tech', sans-serif;
}
.forminicial{
    color: rgba(211, 212, 216, 0.801);
    font-weight: bold;
    font-family: 'Share Tech', sans-serif;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
}
.googlemap{
    display: flex;
    margin-top: 150px;
    align-items: center;
    padding: 50px;
}
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .dentro_del_form {
    display: flex;
    justify-content: center;
    width: 50%;
  }  
  .dentro_del_form_1 {
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    width: 65%;
    color: rgba(211, 212, 216, 0.801);
    font-weight: lighter;
    font-size: 20px;
    border-radius: 5px;
  }
  .button {
    margin: auto;
  }
  
@media screen and (max-width: 375px){
    .itemSubmenu:hover .encabezado__lista__submenu{
        display: none;
    }
    .icono_servicios{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,300px) ;
        grid-template-rows: repeat(3,300px);
        padding: 20px;
        align-items:center;
        list-style: none;
        justify-content:space-between ;
        color: rgba(192, 194, 199, 0.747);
        font-weight: lighter;
        font-size: small;
        font-family: 'Share Tech', sans-serif, ;
    }
    .icono_servicios__Subsecurity{
        position: right;
        display:grid;
        align-content: flex-start;
        padding-top: 20px ;
        top: 100%;
        font-size: 20px;
        
    }
    .icono_servicios__Subservice{
        position: absolute;
        display:flex;
        align-content: flex-end;
        top: 100%;
        font-size: 20px;
    }
    .icono_servicios__Subsupport{
        position: absolute;
        display:flex;
        align-content: flex-end;
        top: 100%;
        font-size: 20px;
    }
    .icono_servicios__Subequip{
        position: absolute;
        display:flex;
        align-content: flex-end;
        top: 100%;
        font-size: 20px;
    }
    .icono_servicios__Subcapacitacion{
        position: absolute;
        display:flex;
        align-content: flex-end;
        top: 100%;
        font-size: 20px;
    }
    .text_main{
        margin-top: 120px;
        margin-bottom: 25px;
        color: rgba(211, 212, 216, 0.801);
        font-weight: bold;
        font-family: 'Share Tech', sans-serif;
        text-align: center;
    }
    .conten_xq_eleg{
        display: flex;
        padding: 15px;
        flex-direction: column-reverse;

    }
    .conten_xq_eleg2{
        display: flex;
        padding: 15px;
        flex-direction: column;
    }
    .googlemap{
        width: 200px;
        height: 150px;
        display: flex;
        align-items: center;
        padding: center;
    }
    .formulario {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1,150px);
        grid-template-rows: repeat(2,250px);
        justify-content:space-around;
        align-items: center;
        margin-bottom: 15px;
    }
    .dentro_del_form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .contactfont{
        display: flex;
        color: rgba(211, 212, 216, 0.801);
        font-weight: lighter;
        font-family: 'Share Tech', sans-serif;

    }
    .dentro_del_form_1{
        display: grid;
        justify-content: center;
    }
    
}
 /* main{
        background-image: url(./imagenes/fondo_main.jpg);
        background-repeat: repeat;
        width:min-content;
    } */
  /*   .logos_main{
        width: max-content;
        height: fit-content;
        display:grid;

    } */



/* .redes{
    display: flex;
    justify-content: center;
} */

/* .tope{
    display: flex;
   
}
.tope_logo{
    display: flex;
    
}

.logo{
    width: 250px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
}

.informacion_empresa{
    flex-wrap: nowrap;
    color: rgba(28, 70, 153, 0.747);
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Share Tech', sans-serif;
    border: solid 1px black;
}

.info_empresa{
    list-style: none;
    align-items: flex-end;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-right: 0%;
}


main{
    grid-area: main;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: chartreuse;
} */


/* .tope{
    margin-right: 80%;
    margin-left: 0%;
    width: 40%;
    display: grid;
    grid-template-columns: (2,250px);
    grid-auto-flow:dense ;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

}

.logo{
    width: 25%;
    object-fit: contain ;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
}

.informacion_empresa{
    color: rgba(28, 70, 153, 0.747);
    font-weight: lighter;
    font-size: 14px;
    font-family: 'Share Tech', sans-serif;
    border: solid 1px black;
    
}

.info_empresa{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 35%;
    height: 35%;
    flex-direction: row;
}

.estilo_info{
    border: solid 1px black;
}

.menu{
    display: grid;
    grid-template-columns: 1/3;
}

 */
